.limpido {
  color: black;
  font-weight: bold; }

.valores {
  color: #020220;
  font-weight: bold; }

.norma {
  color: red;
  font-weight: bold; }

.respaldo {
  color: #460909;
  font-weight: bold; }

h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: 600; }

.legal {
  background-color: #072e30;
  color: #ffffff; }

.main {
  background-color: #5ce1e6; }
  .main p {
    color: #010a0a;
    font-weight: 300;
    font-size: 14px;
    font-style: italic; }
  .main h1 {
    color: #010a0a;
    font-weight: 500;
    font-size: 40px;
    font-style: italic; }

.logo {
  height: 30%;
  width: 30%; }

.Nosotros {
  padding: 5px;
  text-align: justify;
  background-color: #5ce1e6;
  font-size: 20px; }
